.mat-expansion-panel {
  background-color: transparent !important;
  box-shadow: none !important;
}

.opt-buttons {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;

  & .send {
    background-color: #0BB7AF;
    color: white;
    margin: 0 1rem;
  }
}


