<div class="text-center p-5">
    <h1>UPGRADE</h1>
    <div class="py-5 options">
        <h3>PassKeeper Families</h3>
        <h3>PassKeeper Teams</h3>
        <mat-divider></mat-divider>
    </div>
    <h1>MANAGE YOUR VAULT</h1>
    <div class="py-5 options">
        <h3>Import</h3>
        <h3>Export</h3>
        <h3>Add identities</h3>
        <h3>open your favorite sites</h3>
        <h3>View account history</h3>
        <h3>View deleted items</h3>
        <mat-divider></mat-divider>
    </div>
    <h1>IMPROVE YOUR SECURITY</h1>
    <div class="py-5 options">
        <h3>Generate secure password</h3>
        <h3>Manage one-time passwords</h3>
        <h3>Credit monitoring</h3>
    </div>
</div>
