<div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xxl-3  my-4 justify-content-sm-center d-flex" *ngFor="let card of arrData">
        <mat-card class="pk-card mat-elevation-z8">
            <figure class="image-wrapper">
<!--                <img mat-card-image src="assets/app-logos/logo-Google.png" class="card-image" alt="Photo of an item">-->
                <img mat-card-image [src]="card.img ? card.image : catchImage(card)" class="card-image" alt="">
            </figure>
            <mat-card-content>
                <div class="d-flex align-items-center">
                    <mat-icon class="category-icon">
                        {{
                        card.label === 'password' ? 'lock'
                            : card.label === 'note' ? 'description'
                            : card.label === 'address' ? 'contacts'
                                : card.label === 'payment-card' ? 'credit_card'
                                    : card.label === 'bank-account' ? 'account_balance'
                                        : card.label === 'passport-document' ? 'account_box'
                                            : card.label === 'messaging-app' ? 'chat'
                                                : card.label === '' ? 'warning' : null
                        }}
                    </mat-icon>
                    <h3>{{card.title | maxLength: 'cardTitle' | titleCase}}</h3>
                </div>
                <mat-chip-list *ngIf="(card.label !== '' && card.label !== null && card.label !== undefined) && isHereHome">
                    <mat-chip class="category-label" [routerLink]="card.label">{{card.label | titleCase}}</mat-chip>
                </mat-chip-list>
                <p class="card-description">{{ catchLabel(card) | maxLength : 'cardText' }}</p>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <button  class="category-icon" mat-icon-button matTooltip="Edit Item" (click)="editCard(card)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button  class="category-icon" mat-icon-button matTooltip="Share Item with Someone" (click)="shareCard(card)">
                    <mat-icon>people</mat-icon>
                </button>
                <button  class="category-icon" mat-icon-button matTooltip="Delete Item" (click)="deleteCard(card)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button  class="category-icon" mat-icon-button matTooltip="Launch App" *ngIf="validateLaunchable(card)">
                    <mat-icon>launch</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>
